/* Navbar */
.navbar {
  color: white;
  padding: 1vmax 2vmax;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid #3d3c3c;
}
.title {
  display: flex;
  align-items: center;
  font-size: 2vmax;
  font-weight: 900;
  max-width: 14vmax;
}
.logo img {
  width: 4.5vmax;
}
.routes {
  display: flex;
  width: 50%;
  font-size: 1.2vmax;
  align-items: center;
  justify-content: space-evenly;
}
.route {
  cursor: pointer;
}
.sign-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 18%;
}
.user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vmax;
  width: 100%;
}
/* Home  */
.bg-img {
  /* border: 3px red solid; */
}
.img {
  width: 100%;
}
.bg-text {
  color: white;
  font-size: 4vmax;
  max-width: 27vmax;
  position: absolute;
  top: 20%;
  left: 10%;
}
.bg {
  position: relative;
}
.add-feature {
  /* border: 3px solid red; */
  padding-top: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-feature-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Post */
.post-parent {
  padding: 0 1vmax 0 1vmax;
}
.explore {
  font-size: 1.5vmax;
  padding: 1vmax 8vmax;
  border-bottom: 1px solid #3d3c3c;
  display: flex;

  justify-content: center;
}
.box {
  border: 2px red solid;
}
.new-post{
  position: fixed;
  bottom: 3vmax;
  right: 3vmax;
}
.donation{
  position: fixed;
  right: 3vmax;
  bottom:7vmax;
}

@media (max-width: 600px) {
  .bg-text {
    font-size: 2vmax;
    max-width: 15vmax;
  }
  .sign-div {
    width: 30%;
  }
}
