/* Navbar */
.navbar {
  color: white;
  padding: 1vmax 2vmax;
  display: flex;
  justify-content: space-evenly;
}
.title {
  display: flex;
  align-items: center;
  font-size: 2vmax;
  font-weight: 900;
  max-width: 14vmax;
}
.logo img {
  width: 4.5vmax;
}
.routes {
  display: flex;
  width: 50%;
  font-size: 1.5vmax;

  align-items: center;
  justify-content: space-around;
}
.sign-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}
/* @media (max-width: 600px) {
  .navbar {
    padding: 1vmax 2vmax;
  }
} */
